<h4>Create New Stat Box</h4>
<br/><br/>

<%= form_tag create_box_path, :class => 'bs-component' do %>
	
	<table class="form_table">
	  <tr>
	    <td>
				<div class="form-group" style="width: 300px;">
					<label class="control-label" for="focusedInput">Label</label>
					<%= text_field_tag 'label', @box.label, :class => 'form-control', :placeholder => 'Box Label' %>
				</div>
			</td>
		</tr>
	</table>

	<table class="form_table">
	  <tr> 
	    <td>
				<div class="form-group" style="width: 300px;">
					<label class="control-label" for="focusedInput">Stat Box Query</label>
					<div id="editor"></div>
				</div>
			</td>
		</tr>
		<tr>
		  <td>
		  	The box query will be evaluated and the first cell in the result set will be displayed in the box. For information on the statistics tables created please see the <a href="https://github.com/no0p/plotpg">pgantenna statistics tables reference guide.
		  </td>
		</tr>
	</table>

  <textarea name="query" style="display: none;">
  </textarea>
	<br/>
  <%= submit_tag 'Create Stat Box', :class => 'btn btn-primary' %>

<% end %>



<%= render 'ace' %>
