.config-table {
	font-size: 125%;
	width: 100%;
}

.edit_link {
	font-size: 15pt;
	padding-top: 4px;
}

table.control_table {
	background-color: #000000;
	width: 100%;
}

table.control_table td {
	padding-left: 20px;
	
}

.action_links {
	float: right;
}

#editor { 
	width: 1100px;
	height: 300px;
}

.form_table {
	background-color: #000000;
}

.form_table td.last {
	padding-left: 20px;
}	

.last_link {
	float: right;
}
